* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        width: 100%;
        font-family: 'Montserrat', sans-serif;

}

a {
        text-decoration: none;
}

li {
        list-style: none;
}

button {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
}

.headerFormfy {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 1200px;
        margin-top: 24px;
}

.headerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
}

.logoFormfy {
        width: 140px;
        height: auto;
}

.headerRight {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
}

.headerLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
}

.headerLinkItem a {
        padding: 10px;
        font-size: 14px;
        line-height: 1.4;
        color: #969696;
        font-weight: 400;
        transition: all 0.2s ease;
}

.headerLinkItem a:hover {
        color: #292929;
}

.buttonHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 14px;
        border-radius: 12px;
        background: linear-gradient(to bottom, #242424 0%, #292929 100%);
        border: 1px solid #000000;
        color: #F4F4F4;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.15);
        transition: all 0.2s ease;
}